*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
align-items: center;
text-align: center;
padding: 12px;
}
.lista{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-left: 35px;
    a:hover {
  color: rgb(255, 255, 255);
}
}
.sepa{
    margin-right: 30px;
}
.lista img{
    width: 50px;
}
ul{
    display: flex;
    gap: 30px;
}
a{
    text-decoration: none;
    color: gray;
}
.meio{
    background-color: orange;
    border-radius: 10px;
    padding:6px ;
    color: black;
}
