*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
align-items: center;
text-align: center;
padding: 12px;
}
.lista{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-left: 35px;
    a:hover {color:white;}
}
.sepa{
    margin-right: 30px;
}
.lista img{
    width: 50px;
}
ul{
    display: flex;
    gap: 30px;
}
header a{
    text-decoration: none;
    color: gray;
}
.meio{
    background-color: orange;
    border-radius: 10px;
    padding:6px ;
    color: black;
}
.img1{
    background-image: url('garena01.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.img2{
    width: 300px;
    height: auto;
    margin-left: 100px;
    margin-top: 250px;
}
.news{
    padding: 50px 80px;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}
.news h2{
    font-size: 40px;
}
.news a{
    text-decoration: none;
    color: black;
}

.tudo{
    margin-left: 1120px;
}

.cor{color: orange;}

.imgs{
    display: flex;
    gap: 20px;
}
.img0{
    background-color: #ffffff;
    width: 32%;
    min-width: 260px;
}
.img0 img{
    width: 100%;
    display: block;
}
.img0 .data{
    font-size: 12px;
    color: gray;
    padding: 8px 10px 10px;
}
.img0 h3{
    font-size: 14px;
    padding: 8px 10px 10px;  
}